src/main/app/primavera-integration.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:validation="http://www.mulesoft.org/schema/mule/validation" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd">
    <flow name="integration">
        <http:listener config-ref="Primavera_Integration_Configuration" path="/process" doc:name="HTTP IN"/>
        <logger message="Message received: #[message.id], payload: #[payload]" level="INFO" doc:name="Input"/>
        <message-filter doc:name="Filtering Favicon">
        	<not-filter >    	
	            <wildcard-filter pattern="/favicon.ico" caseSensitive="true"/>
            </not-filter>
        </message-filter>
        <json:json-to-object-transformer returnClass="java.util.HashMap" doc:name="JSON to Object"/>
        <set-variable variableName="originalPayload" value="#[payload]" doc:name="originalPayload"/>
        <dw:transform-message doc:name="DW">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
payload]]></dw:set-payload>
        </dw:transform-message>
        <http:request config-ref="Primavera_ESB_Configuration" path="/resource" method="GET" doc:name="GET /resource - PrimaveraESB"/>
        <validation:is-true message="HTTP Status is not successful" exceptionClass="org.mule.extension.validation.api.ValidationException" expression="#[message.inboundProperties.'http.status']&gt;=200 &amp;&amp; #[message.inboundProperties.'http.status']&lt;=299" doc:name="Validate HTTP Status"/>
        <logger message="Outcome: #[message.id], payload: #[payload]" level="INFO" doc:name="Output"/>
        <exception-strategy ref="global-exception-handlerChoice_Exception_Strategy" doc:name="Reference Exception Strategy"/>
    </flow>
</mule>
